<div class="container mt-3">
    <div class="d-flex flex-row mb-4 mt-3 align-items-center">
        <img width="30" height="30" src="/assets/avatar.png" alt="">
        <h2 class="ml-2 mb-0">Customers</h2>
    </div>

    <nav ngbNav #nav="ngbNav" class="nav-tabs">
        <ng-container ngbNavItem [destroyOnHide]="true">
            <a ngbNavLink>
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-list-ul" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                </svg>
                List View
            </a>
            <ng-template ngbNavContent>
                <app-customers-list></app-customers-list>
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem [destroyOnHide]="true">
            <a ngbNavLink>
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-grid-fill" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z" />
                </svg>
                Card View
            </a>
            <ng-template ngbNavContent>
                <app-customers-grid></app-customers-grid>
            </ng-template>
        </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>