<div class="d-flex flex-column">
    <form class="align-self-end">
        <div class="form-group form-inline">
            Filter: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
        </div>
    </form>
    <div class="grid">
        <div class="row row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
            <div *ngFor="let customer of customers$ | async" class="card m-3">
                <div class="card-header bg-primary text-white p-2 d-flex justify-content-between align-items-center">
                    <b class="text-capitalize">
                        <ngb-highlight [result]="customer.first_name + ' ' + customer.last_name"
                            [term]="service.searchTerm"></ngb-highlight>
                    </b>
                    <a class="text-white" href="#">
                        <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-pencil-square"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </a>
                </div>
                <div class="card-body p-2 pb-3">
                    <div class="d-flex flex-row">
                        <img class="mr-3" src="/assets/avatar.png" width="60" height="60" alt="">
                        <div class="media-body d-flex flex-column">
                            <span>{{customer.city}}</span>
                            <span>{{customer.state}}</span>
                            <a class="" href="#">view orders</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="align-self-end">
        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
        </ngb-pagination>
    </div>
</div>